<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive List Vue</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!-- PARTE HEADER -->
    <header>
        <img src="./img/Logo.png" alt="Logo">
        <span id="titolo_logo">Toboolist</span>
    </header>
    <!-- CONTENUTO -->
        <div class="container" id="app">
            <!-- BOTTONI -->
            <div class="bottoni">
                    <button @click="addText()" id="first_bttn">Aggiungi ToDo</button>
                    <textarea @keyup.enter="addText()" @input="updMessage($event.target.value)"  id="taskInput" cols="50" rows="5"  placeholder="Inserisci la tua prossima task"></textarea>
                    <button @click="removeText()" id="second_bttn">Rimuovi l'ultimo ToDo</button>
            </div>
            <!-- LISTA -->
            <div class="list">
                <span class="big_text"><span class="arrow">&#9207;</span>To Do</span>
                <ul v-for="(lista,index) in list">
                    <li v-if="lista.done"><span @click="removeSelectedText(index)" class="green_circle">&check;</span><s @click="completedTask(index)">{{lista.text}}</s></li>
                    <li v-else><span @click="removeSelectedText(index)" class="red_circle">&cross;</span><span @click="completedTask(index)">{{lista.text}}</span></li>
                </ul>    
            </div>
        </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./scripts/main.js"></script>
</body>
</html>